*{
	margin: 0;
	padding: 0;
}
table tr{
	border:20px;
	border-color:black;
}
table {
	margin: 0 auto;
	border-collapse: collapse;
    width: 800px;
    height: 800PX;

}
 td {
 	border: 10px solid #000;
  }
  #f1{
    background-color: #FFE659;
border-bottom:10px solid #FFE659;
  }
   #f2{
border-bottom:10px solid  #FFFFFF;
  }
  #f3{
border-bottom:10px solid  #FFFFFF;
  }
  
  #f6{
    background-color: #FF6247;
  }
  #f7{
    background-color: #FFE659;
  }
  #f8{
    background-color: #FFE659;
  }
  #f9{
    background-color: #FFE659;
  }
  #f10{
    background-color: #181818;
  }
  #f11{
    background-color: #181818;
  }
  #f12{
    background-color: #181818;
  }
  #f13{
    background-color: #181818;
  }
  #f14{
    background-color: #023E7C;
  }
  #f15{
    background-color: #181818;
  }

