*{
	margin: 0;
	padding: 0;
}
table tr{
	border:20px;
	border-color:black;
}
table {
	margin: 0 auto;
	border-collapse: collapse;
    width: 800px;
    height: 800PX;
}
 td {
 	border: 10px solid #000;
  }
  #f1{
border-bottom:10px solid #FFE659;
  }
